:root {
    --NS-main-geel: #FFC917;
    --NS-donkerblauw: #003082;
    --NS-buttons: #0063D3;
    --NS-white: #FFFFFF;
    --NS-Background-color: #E6E6E9;
    --NS-error-color: #DB0029;
    --NS-success-color: #009A42;
    --NS-textlink-color: #0079D3;
    --NS-buttonhover-blauw: #005CA0;
    --NS-buttonhover-geel: #FFB519;
    --NS-tekst-zwart: #070721;
    --divider: #39394D;
}

* {
    margin: 0;
}

header {
    background-color: var(--NS-main-geel);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--NS-error-color);
    /* height: 10vh; */
    /* position: fixed; */
    width: 100%;
}

body {
    background-color: var(--NS-Background-color);
}

form {
    display: grid;
    padding: 0 5vw;
    background-color: var(--NS-Background-color);
    margin: 1%;
    max-width: 90%;
    justify-self: space-around;
}

summary {
    font-weight: bold;
    font-size: x-large;
}

legend {
    font-weight: bold;
}

small {
    text-align: end;
}

hr {
    border: 0.1px solid var(--divider);
    width: 90%;
    height: 0;
    align-self: center;
    margin: 1%;
}
fieldset {
    display: block;
    border: none;
    padding: 0.5em;
}

fieldset:has(input[type="radio"]) {
    display: flex;
    flex-direction: column;
}

label:has(input[type="text"], input[type="date"]) {
    display: flex;
    flex-direction: column;
}

input:user-invalid {
    border: 1px solid var(--NS-error-color);
}

input:user-valid {
    border: 1.5px solid var(--NS-success-color);
}

:has(input[type="text"]:user-invalid) > small {
   color: var(--NS-error-color);
}

:has(input[type="text"]:user-valid) > small {
    color: var(--NS-succes-color);
 }

/* #vroegerePartner {
    display: none;
}

:has(#overledenePartnerJa:checked) #vroegerePartner {
    display: block;
} */

/* .gedeeldeDeelVraag:has(legend) {
    box-shadow: 0em -1em 0em 0em var(--NS-white);
} */

/* .hoofdvraag {
    margin: 1%;
} */

.ABdeelvraag {
    background-color: var(--NS-white);
}

.ABdeelvraag .gedeeldeDeelVraag:last-child {
    margin-bottom: 0;
}

.gedeeldeDeelVraag {
    display: flex;
    background-color: var(--NS-white);
    padding: 1%;
}

.gedeeldeDeelVraag:not(.hoofdvraag:first-of-type):not(:last-child) {
    margin-bottom: 0.5em;
}

.gedeeldeDeelVraag label {
    width: 100%;
}

.gedeeldeDeelVraag input[type="text"] {
    margin: 0em 0.1em;
}

@media (max-width: 516px) {
    .gedeeldeDeelVraag {
        flex-direction: column;
    }
    .gedeeldeDeelVraag label {
        width: 100%;
    }
    form {
        margin: 0;
    };
}

.popoverbutton {
    anchor-name: --infobox;
    margin: 0;
}


div {
    position: absolute;
    position-anchor: --infobox;
    position-area: top;
    width: 60vw;
    padding: 0;
    &p {
        background-color: var(--NS-white);
        padding:  0.5em;
    }
    &h2 {
        background-color: var(--NS-main-geel);
        width: 100%;
        padding:0.1em 0.5em;
    }
}




input[type="radio"] {
    accent-color: var(--NS-buttons);
}

details summary::marker {
    /* display: none; */
    content:"";
}


button {
    background-color: none;
    border: none;
    cursor: pointer;
    &:hover {
        font-style: italic;
    }
}

.btn{
    all: unset;
    padding: 10px 18px;
    background: var(--NS-buttons);
    color: var(--NS-white);
    margin: 0.75em;
    border-radius: 4px;
    font-family: sans-serif;
    box-shadow: var(--NS-buttonhover-blauw) 0px -2px 0px 0px inset;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}
 
.btn:hover{
    box-shadow: var(--NS-buttonhover-blauw) 0px -40px 0px 0px inset;
}
